<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
    <ion-title>
      INVENTORY APP
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" padding>

  <ion-item>
    <ion-input type="text" [(ngModel)]="api_url"></ion-input>
  </ion-item>


  <ion-list>
    <ion-list-header>
      <ion-label>
        Selecciona Opcion
      </ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>Inventarios Fisicos</ion-label>
      <ion-select (ionChange)="radioEventoSelect($event)" [(ngModel)]="rd_inventario_selected">
        <ion-select-option *ngFor="let item of rd_list_inventarios" value="{{item.id}}">{{item.id + ' - ' + item.descripcion}}</ion-select-option>
      </ion-select>
    </ion-item>

  </ion-list>

  <ion-item>
    <ion-label position="stacked">Scanned Code Value</ion-label>
    <ion-input type="text" placeholder="QR CODE Data" [(ngModel)]="qrData"></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="scanCode()" color="secondary">
    <ion-icon name="qr-code-outline"></ion-icon>
    SCAN QR
  </ion-button>
  

  <div *ngIf="ver_segmentos==='visualizar' "> 

    <ion-segment [(ngModel)]="elementType">
      <ion-segment-button value="canvas">
        <ion-label>Datos Generales</ion-label>
      </ion-segment-button>
      <ion-segment-button value="img">
        <ion-label>Espacio Fisico</ion-label>
      </ion-segment-button>
      <ion-segment-button value="url">
        <ion-label>Observaciones</ion-label>
      </ion-segment-button>
      <ion-segment-button value="firma">
        <ion-label>Actualizar</ion-label>
      </ion-segment-button>
    </ion-segment>

  

  <ion-card *ngIf="qrData" text-center>
    <ngx-qrcode [qrc-element-type]="elementType" [qrc-value] = "qrData" qrc-class="my-code">
    </ngx-qrcode>    
  </ion-card>

  <ion-card *ngIf="scannedCode">

    <ion-card-content>      
      Result from Scan: {{scannedCode}} <br>
      <ion-item class="ionic-text-center">
          <ion-img [src]="product_img_url"></ion-img>        
      </ion-item>

      <ion-item>
        <ion-chip>
          <ion-label color="secondary" style="font-weight: bold;">IU</ion-label>
        </ion-chip>
        <ion-text color="dark" >{{product_identificador_unico}}</ion-text>
      </ion-item>
    

        <ion-item>
        <ion-chip>
          <ion-label color="secondary" style="font-weight: bold;">Producto</ion-label>
        </ion-chip>
        <ion-textarea color="dark" [(ngModel)]="product_description" readonly>
      </ion-textarea>       
      </ion-item> 

      <ion-item>
        <ion-chip>
          <ion-label color="secondary" style="font-weight: bold;">Numero Serie</ion-label>
        </ion-chip>
        <ion-text type="text">{{product_num_serie}} </ion-text>
      </ion-item> 

      <ion-item>
        <ion-chip>
          <ion-label color="secondary" style="font-weight: bold;">Marca</ion-label>
        </ion-chip>
        <ion-text type="text">{{product_marca}} </ion-text>
      </ion-item> 
     

      <ion-item *ngIf="elementType==='url'">
        <ion-chip>
          <ion-label color="secondary" style="font-weight: bold;">Observaciones</ion-label>
        </ion-chip>
        <ion-textarea color="dark" [(ngModel)]="product_observaiones" name="product_observaiones">
      </ion-textarea>       
      </ion-item> 


      
      
      

      <ion-button expand="full" color="tertiary" (click)="insertInventarioFisico()" *ngIf="elementType==='firma'">
        <ion-icon name="save" slot="start"></ion-icon>
        SAVE
      </ion-button>

    </ion-card-content>
  </ion-card>


  



</div>

  
</ion-content>
